<section class="covers section" id="covers">
  <div class="covers-container container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="carousel-wrapper">
      <div class="carousel carousel-from-start-1">
        <div class="slide-temp slide slide-from-start">1</div>
        <div class="slide-temp slide slide-from-start">2</div>
        <div class="slide-temp slide slide-from-start">3</div>
        <div class="slide-temp slide slide-from-start">4</div>
        <div class="slide-temp slide slide-from-start">5</div>
        <div class="slide-temp slide slide-from-start">6</div>
        <div class="slide-temp slide slide-from-start">7</div>
        <div class="slide-temp slide slide-from-start">8</div>
        <div class="slide-temp slide slide-from-start">9</div>
        <div class="slide-temp slide slide-from-start">10</div>
      </div>
      <div class="carousel carousel-from-end-1">
        <div class="slide slide-from-end">1</div>
        <div class="slide slide-from-end">2</div>
        <div class="slide slide-from-end">3</div>
        <div class="slide slide-from-end">4</div>
        <div class="slide slide-from-end">5</div>
        <div class="slide slide-from-end">6</div>
        <div class="slide slide-from-end">7</div>
        <div class="slide slide-from-end">8</div>
        <div class="slide slide-from-end">9</div>
        <div class="slide slide-from-end">10</div>
      </div>
      <div class="carousel carousel-from-start-2">
        <div class="slide slide-from-start">1</div>
        <div class="slide slide-from-start">2</div>
        <div class="slide slide-from-start">3</div>
        <div class="slide slide-from-start">4</div>
        <div class="slide slide-from-start">5</div>
        <div class="slide slide-from-start">6</div>
        <div class="slide slide-from-start">7</div>
        <div class="slide slide-from-start">8</div>
        <div class="slide slide-from-start">9</div>
        <div class="slide slide-from-start">10</div>
      </div>
      <div class="carousel carousel-from-end-2">
        <div class="slide slide-from-end">1</div>
        <div class="slide slide-from-end">2</div>
        <div class="slide slide-from-end">3</div>
        <div class="slide slide-from-end">4</div>
        <div class="slide slide-from-end">5</div>
        <div class="slide slide-from-end">6</div>
        <div class="slide slide-from-end">7</div>
        <div class="slide slide-from-end">8</div>
        <div class="slide slide-from-end">9</div>
        <div class="slide slide-from-end">10</div>
      </div>
      <div class="carousel carousel-from-start-3">
        <div class="slide slide-from-start">1</div>
        <div class="slide slide-from-start">2</div>
        <div class="slide slide-from-start">3</div>
        <div class="slide slide-from-start">4</div>
        <div class="slide slide-from-start">5</div>
        <div class="slide slide-from-start">6</div>
        <div class="slide slide-from-start">7</div>
        <div class="slide slide-from-start">8</div>
        <div class="slide slide-from-start">9</div>
        <div class="slide slide-from-start">10</div>
      </div>
    </div>
  </div>
  <!-- <ul class="covers-list">
  <li class="covers-item">
      <picture>
        <source srcset="1x, 2x" media="(min-width: 1440px)" />
        <source srcset="1x, 2x" media="(min-width: 768px)" />
        <source srcset="1x, 2x" media="(max-width: 767px)" />
        <img src="" alt="" class="covers-image" />
      </picture>
    </li>
    <li class="covers-item">
      <picture>
        <source srcset="1x, 2x" media="(min-width: 1440px)" />
        <source srcset="1x, 2x" media="(min-width: 768px)" />
        <source srcset="1x, 2x" media="(max-width: 767px)" />
        <img src="" alt="" class="covers-image" />
      </picture>
    </li>
    <li class="covers-item">
      <picture>
        <source srcset="1x, 2x" media="(min-width: 1440px)" />
        <source srcset="1x, 2x" media="(min-width: 768px)" />
        <source srcset="1x, 2x" media="(max-width: 767px)" />
        <img src="" alt="" class="covers-image" />
      </picture>
    </li>
    <li class="covers-item">
      <picture>
        <source srcset="1x, 2x" media="(min-width: 1440px)" />
        <source srcset="1x, 2x" media="(min-width: 768px)" />
        <source srcset="1x, 2x" media="(max-width: 767px)" />
        <img src="" alt="" class="covers-image" />
      </picture>
    </li>
    <li class="covers-item">
      <picture>
        <source srcset="1x, 2x" media="(min-width: 1440px)" />
        <source srcset="1x, 2x" media="(min-width: 768px)" />
        <source srcset="1x, 2x" media="(max-width: 767px)" />
        <img src="" alt="" class="covers-image" />
      </picture>
    </li>
    <li class="covers-item">
      <picture>
        <source srcset="1x, 2x" media="(min-width: 1440px)" />
        <source srcset="1x, 2x" media="(min-width: 768px)" />
        <source srcset="1x, 2x" media="(max-width: 767px)" />
        <img src="" alt="" class="covers-image" />
      </picture>
    </li>
    <li class="covers-item">
      <picture>
        <source srcset="1x, 2x" media="(min-width: 1440px)" />
        <source srcset="1x, 2x" media="(min-width: 768px)" />
        <source srcset="1x, 2x" media="(max-width: 767px)" />
        <img src="" alt="" class="covers-image" />
      </picture>
    </li>
    <li class="covers-item">
      <picture>
        <source srcset="1x, 2x" media="(min-width: 1440px)" />
        <source srcset="1x, 2x" media="(min-width: 768px)" />
        <source srcset="1x, 2x" media="(max-width: 767px)" />
        <img src="" alt="" class="covers-image" />
      </picture>
    </li>
    <li class="covers-item">
      <picture>
        <source srcset="1x, 2x" media="(min-width: 1440px)" />
        <source srcset="1x, 2x" media="(min-width: 768px)" />
        <source srcset="1x, 2x" media="(max-width: 767px)" />
        <img src="" alt="" class="covers-image" />
      </picture>
    </li>
    <li class="covers-item">
      <picture>
        <source srcset="1x, 2x" media="(min-width: 1440px)" />
        <source srcset="1x, 2x" media="(min-width: 768px)" />
        <source srcset="1x, 2x" media="(max-width: 767px)" />
        <img src="" alt="" class="covers-image" />
      </picture>
    </li> -->
  <!-- </ul> -->
</section>
