<footer class="footer">
    <div class="footer-gradient"></div>
    <div id="work-together" class="footer-container container">
        <h1 class="footer-text">Let’s work together</h1>
        <div class="footer-img-text">
            <img class="footer-icon" srcset="/img/logo-image@1x.png, /img/logo-image@2x.png" src="/img/logo-image@1x.png"
                    alt="logo"/>
            <p class="footer-p">LET'S <span class="footer-span">WORK</span></p>
        </div>
        <p class="footer-p">TOGETHER</p>
        
        <form class="footer-form">
            <div class="footer-div">
            <label>
                <input class="footer-input-email footer-input" type="email" name="email" id="email"
                    pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" 
                    placeholder="clients@gmail.com" 
                    autocomplete="email"
                    required />
            </label>
            <p class="footer-succes">Succes!</p>
            <p class="footer-invalid-email">Invalid email, try again</p>
            </div>
            <label class="footer-comments">
                <input class="footer-input-comment footer-input" type="text" name="comment" id="comment" placeholder="comments"
                    autocomplete="off" required />
            </label>
            <button type="submit" class="footer-button">Send</button>
        </form>

        <address class="footer-address">
            <ul class="footer-address-list">
                <li class="footer-address-li">
                    <a class="footer-address-li-a" href="mailto:lloydjefferson@gmail.com" class="link">lloydjefferson@gmail.com</a>
                </li>
                <li class="footer-address-li">
                    <a class="footer-address-li-a" href="tel:+3801111111111" class="link">+380 11 1111 11 11</a>
                </li>
            </ul>
        </address>

    </div>   
</footer>

<div class="footer-modal-window">
    <div class="footer-modal">
        <button class="footer-close" type="button">
            <svg class="close-modal-icon">
                <use href="./img/icon-close-menu.svg#icon-close-menu"></use>
            </svg>
        </button>
        <h1 class="footer-modal-text">Thank you for your interest in cooperation!</h1>
        <p class="footer-modal-paragraph">The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.</p>
    </div>
</div>