<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>

    <!-- Global styles -->
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/container.css" />

    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- Local styles -->
    <link rel="stylesheet" href="./css/projects.css" />
  </head>
  <body>
    <main>
      <section class="projects-section">
        <div class="container">
          <h2 class="section-title">Projects</h2>

          <div class="swiper">
            <ul class="swiper-wrapper">
              <!-- Slide 1 -->
              <li class="swiper-slide">
                <div class="slide-wrapper">
                  <div class="slide-left">
                    <ul class="tags-list">
                      <li>#react</li>
                      <li>#js</li>
                      <li>#node js</li>
                      <li>#git</li>
                    </ul>
                    <h3 class="slide-heading">
                      Programming Across Borders: Ideas, Technologies,
                      Innovations
                    </h3>
                    <a
                      href="https://github.com/kulakaa073/DIVelopers-js-project#"
                      target="_blank"
                      class="project-link"
                      >See project</a
                    >
                  </div>
                  <div class="slide-right">
                    <img
                      src="./img/project-1-image@1x.png 1x, ./img/project-1-image@2x.png 2x"
                      alt="Project Image"
                      class="slide-img"
                    />
                  </div>
                </div>
              </li>

              <!-- Slide 2 -->
              <li class="swiper-slide">
                <div class="slide-wrapper">
                  <div class="slide-left">
                    <ul class="tags-list">
                      <li>#react</li>
                      <li>#js</li>
                      <li>#node js</li>
                      <li>#git</li>
                    </ul>
                    <h3 class="slide-heading">
                      Programming Across Borders: Ideas, Technologies,
                      Innovations
                    </h3>
                    <a
                      href="https://github.com/kulakaa073/DIVelopers-js-project#"
                      target="_blank"
                      class="project-link"
                      >See project</a
                    >
                  </div>
                  <div class="slide-right">
                    <img
                      src="./img/project-2-image@1x.png 1x, ./img/project-2-image@2x.png 2x"
                      alt="Project Image"
                      class="slide-img"
                    />
                  </div>
                </div>
              </li>

              <!-- Slide 3 -->
              <li class="swiper-slide">
                <div class="slide-wrapper">
                  <div class="slide-left">
                    <ul class="tags-list">
                      <li>#react</li>
                      <li>#js</li>
                      <li>#node js</li>
                      <li>#git</li>
                    </ul>
                    <h3 class="slide-heading">
                      Programming Across Borders: Ideas, Technologies,
                      Innovations
                    </h3>
                    <a
                      href="https://github.com/kulakaa073/DIVelopers-js-project#"
                      target="_blank"
                      class="project-link"
                      >See project</a
                    >
                  </div>
                  <div class="slide-right">
                    <img
                      src="./img/project-3-image@1x.png 1x, ./img/project-3-image@2x.png 2x"
                      alt="Project Image"
                      class="slide-img"
                    />
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- Custom buttons -->
          <div class="swiper-buttons">
            <button
              class="swiper-button swiper-button-next"
              aria-label="Next project"
            >
              <svg width="32" height="32">
                <use href="./img/sprites.svg#icon-arrow-right"></use>
              </svg>
            </button>
            <button
              class="swiper-button swiper-button-prev"
              aria-label="Previous project"
            >
              <svg width="32" height="32">
                <use href="./img/sprites.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>
        </div>
      </section>
    </main>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./js/projects.js"></script>
  </body>
</html>
