<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="section-title">Projects</h2>

    <div class="projects-swiper">
      <ul class="swiper-wrapper">
        <!-- Slide 1 -->
        <li class="swiper-slide">
          <div class="slide-wrapper">
            <div class="slide-left">
              <ul class="tags-list">
                <li>#react</li>
                <li>#js</li>
                <li>#node js</li>
                <li>#git</li>
              </ul>
              <h3 class="slide-heading">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://github.com/kulakaa073/DIVelopers-js-project#"
                target="_blank"
                class="project-link"
                >See project</a
              >
            </div>
            <div class="slide-right">
              <picture>
                <source
                  media="(min-width: 767px)"
                  srcset="
                    img/project-1-image-big@1x.png 1x,
                    img/project-1-image-big@2x.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    img/project-1-image@1x.png 1x,
                    img/project-1-image@2x.png 2x
                  "
                />
                <img
                  src="img/project-1-image@1x.png"
                  alt="Project Image"
                  class="slide-img"
                />
              </picture>
            </div>
          </div>
        </li>

        <!-- Slide 2 -->
        <li class="swiper-slide">
          <div class="slide-wrapper">
            <div class="slide-left">
              <ul class="tags-list">
                <li>#react</li>
                <li>#js</li>
                <li>#node js</li>
                <li>#git</li>
              </ul>
              <h3 class="slide-heading">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://github.com/kulakaa073/DIVelopers-js-project#"
                target="_blank"
                class="project-link"
                >See project</a
              >
            </div>
            <div class="slide-right">
              <picture>
                <source
                  media="(min-width: 767px)"
                  srcset="
                    img/project-2-image-big@1x.png 1x,
                    img/project-2-image-big@2x.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    img/project-2-image@1x.png 1x,
                    img/project-2-image@2x.png 2x
                  "
                />
                <img
                  src="img/project-2-image@1x.png"
                  alt="Project Image"
                  class="slide-img"
                />
              </picture>
            </div>
          </div>
        </li>

        <!-- Slide 3 -->
        <li class="swiper-slide">
          <div class="slide-wrapper">
            <div class="slide-left">
              <ul class="tags-list">
                <li>#react</li>
                <li>#js</li>
                <li>#node js</li>
                <li>#git</li>
              </ul>
              <h3 class="slide-heading">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <a
                href="https://github.com/kulakaa073/DIVelopers-js-project#"
                target="_blank"
                class="project-link"
                >See project</a
              >
            </div>
            <div class="slide-right">
              <picture>
                <source
                  media="(min-width: 767px)"
                  srcset="
                    img/project-3-image-big@1x.png 1x,
                    img/project-3-image-big@2x.png 2x
                  "
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    img/project-3-image@1x.png 1x,
                    img/project-3-image@2x.png 2x
                  "
                />
                <img
                  src="img/project-3-image@1x.png"
                  alt="Project Image"
                  class="slide-img"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- Custom buttons -->
    <div class="swiper-buttons">
      <button
        class="proj-swiper-button proj-swiper-button-prev"
        aria-label="Previous project"
      >
        <svg class="proj-swiper-icon" width="32" height="32">
          <use href="./img/sprites.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button
        class="proj-swiper-button proj-swiper-button-next"
        aria-label="Next project"
      >
        <svg class="proj-swiper-icon" width="32" height="32">
          <use href="./img/sprites.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
