<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper reviews-swiper">
      <ul class="swiper-wrapper reviews-list"></ul>
      <div class="reviews-buttons">
        <div class="swiper-btn-prev">
          <svg class="swiper-button-icon">
            <use href="./img/sprites.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-btn-next">
          <svg class="swiper-button-icon">
            <use href="./img/sprites.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
