#about {
  padding-top: 64px;
}
@media only screen and (min-width: 1440px) {
  #about {
    padding-top: 96px;
  }
}

.about-card-wrapper {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .about-card-wrapper {
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-card-wrapper {
    display: flex;
    gap: 16px;
  }
}

.about-summary-card {
  border-radius: 24px;
  min-width: 343px;
  min-height: 500px;
  background: #242527;
  padding: 32px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .about-summary-card {
    max-width: 704px;
    min-height: 700px;
    padding: 64px;
  }
}

.about-img {
  min-width: 343px;
  min-height: 500px;
  display: block;
}

.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
}

@media only screen and (min-width: 1440px) {
  .about-summary-card,
  .about-img {
    width: calc(50% - 8px);
    margin-bottom: 0;
    flex-shrink: 0;
  }
}

.about-summary-text {
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .about-summary-text {
    font-size: 38px;
    line-height: 1.05263;
  }
}

@media only screen and (min-width: 1440px) {
  .about-summary-text {
    letter-spacing: -0.03em;
  }
}

.about-accent {
  color: #0041e8;
}
.about-accent-gray {
  color: rgba(250, 250, 250, 0.4);
}

/* Accordion */

.about-accordion-container {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .about-accordion-container {
    margin-bottom: 64px;
  }
}
.about-ac {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  height: 68px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .about-ac {
    height: 72px;
    margin-bottom: 32px;
  }
}

.about-ac:last-child {
  margin-bottom: 0;
}
.about-ac.is-active {
  height: auto;
}

.about-ac-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 36px;
}

@media only screen and (min-width: 768px) {
  .about-ac-header {
    height: 40px;
  }
}

.about-ac-trigger {
  background-color: transparent;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-left: auto;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .about-ac-trigger {
    width: 40px;
    height: 40px;
  }
}
.ac-btn-icon {
  width: 18px;
  height: 18px;
  fill: #fafafa;
}

@media only screen and (min-width: 768px) {
  .ac-btn-icon {
    width: 20px;
    height: 20px;
  }
}

.about-ac-trigger .ac-btn-icon {
  transition: transform 0.3s ease;
}

.about-ac.is-active .ac-btn-icon {
  transform: scaleY(-1);
}

.about-ac-panel {
  overflow: hidden;
  padding-top: 12px;
  margin-bottom: 32px;
  opacity: 0;
  transform: translateY(-8px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

@media only screen and (min-width: 768px) {
  .about-ac-panel {
    padding-top: 8px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-ac-panel {
    padding-left: 696px;
    padding-right: 68px;
  }
}
.about-ac.is-active .about-ac-panel {
  opacity: 1;
  transform: translateY(0);
}
.is-active .about-ac-panel {
  overflow: visible;
}

.about-panel-text,
.about-slide {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

li.about-panel-text {
  margin-bottom: 10px;
}

.text-gap {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .text-gap {
    margin-bottom: 16px;
  }
}

/* Swiper */
.swiper.about-swiper {
  position: relative;
  overflow: hidden;
  padding-right: 55px;
  box-sizing: border-box;
}

.swiper {
  width: calc(2 * 130px);
  height: 130px;
}

@media only screen and (min-width: 768px) {
  .swiper {
    width: calc(3 * 200px);
    height: 200px;
  }
}

@media only screen and (min-width: 1440px) {
  .swiper {
    width: calc(6 * 200px);
    height: 200px;
  }
}

@media only screen and (min-width: 768px) {
  .swiper.about-swiper {
    padding-right: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .swiper.about-swiper {
    padding-right: 72px;
  }
}

.about-swiper-wrapper {
  /* max-width: 100%; */
  /* width: calc(2 * 130px); */
}

.swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-slide {
  aspect-ratio: 1 / 1;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: background-color 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .about-slide {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }
}

.swiper-slide.swiper-slide-active {
  background-color: #0041e8;
}

.swiper-btn-icon {
  fill: #3b3b3b;
  width: 28px;
  height: 28px;
  transition: fill 0.3s ease;
}

.swiper-btn-icon:hover,
.swiper-btn-icon:focus,
.swiper-btn-icon:active {
  fill: #fafafa;
}

.about-btn-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

@media only screen and (min-width: 768px) {
  .swiper-btn-icon,
  .about-btn-next {
    width: 40px;
    height: 40px;
  }
}
