img {
  display: block;
  max-width: 100%;
  height: auto;
}
.covers {
  max-width: 1440px;
  width: 100%;
  height: 960px;
  margin: 0 auto;
  background-color: #fff;
}
.visually-hidden {
}
/* .covers-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px 20px;

  position: relative;
  perspective: 1000px;
}
@media only screen and (min-width: 768px) {
  .covers-list {
    gap: 48px 58px;
  }
}
@media only screen and (min-width: 1440px) {
  .covers-list {
    gap: 48px 40px;
  }
} */

/* .covers-container {
  position: relative;
  width: 100%;
  height: 960px;
  overflow: hidden;
} */

.covers {
  height: 508px;
}

.covers-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  position: absolute;
  left: 0;
  /* top: 50%; */
  top: calc(50% - 24px);
  transform: translateY(-50%) rotate(17deg);
  width: 100%;
}

.carousel {
  display: flex;
  gap: 20px; /* Відстань між картками */
  margin-bottom: 24px;
  transition: transform 20s ease-in-out;
}

.slide {
  flex: 0 0 282px;
  height: 162px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.carousel-from-start-2 .slide {
  background: tomato;
}
